In [47]:
import pandas as pd

if __name__ == "__main__":
    df = pd.read_csv("namesGA.csv")
    print(df.groupby(["year", "sex"]).number.sum())

year  sex
1910  F      15596
      M       8993
1911  F      15013
      M       8949
1912  F      19796
      M      14633
1913  F      20634
      M      16449
1914  F      25035
      M      21004
1915  F      29019
      M      24648
1916  F      31345
      M      26124
1917  F      31238
      M      26183
1918  F      34325
      M      29235
1919  F      37146
      M      31019
1920  F      37373
      M      32046
1921  F      36529
      M      31199
1922  F      37372
      M      30762
1923  F      34430
      M      28259
1924  F      34331
      M      27836
             ...
2001  F      48211
      M      55570
2002  F      48381
      M      55786
2003  F      49712
      M      57126
2004  F      50495
      M      58295
2005  F      51330
      M      59671
2006  F      53778
      M      62370
2007  F      54153
      M      63001
2008  F      52734
      M      61083
2009  F      50624
      M      58938
2010  F      47842
      M      55749
2011  F      47581
      M      54819
2012  F      47150
      M      53839
2013  F      46357
      M      53467
2014  F      47975
      M      54706
2015  F      48287
      M      54514
Name: number, dtype: int64